<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953331297016-hb7ok0hlq3p96tirqp1mifl71f2duea1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953331297016-hb7ok0hlq3p96tirqp1mifl71f2duea1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953331297016-jed4sob7mud20hms20mingkj6u6jj5gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRsR9qorDddRB9v2F-_uWbik0M-E98z2s</string>
	<key>GCM_SENDER_ID</key>
	<string>953331297016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onurvar.massiverpg.ios</string>
	<key>PROJECT_ID</key>
	<string>massive-rpg-onurvar</string>
	<key>STORAGE_BUCKET</key>
	<string>massive-rpg-onurvar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953331297016:ios:f45c412cf9a85fe492a90d</string>
</dict>
</plist>